.navbar {
  margin-top: 0%;
  margin-bottom: 5%;
  background-color: aqua;
  height: 40px;
  width: 100%;
}
.navbar .left {
  padding-top: 1%;
  float: right;
  margin-left: 2%;
  align-content: center;
  align-items: flex-end;
  color: darkcyan;
  text-decoration: none;
}
.navbar .home {
  align-items: center;
  padding: 2%;
  margin-top: 2%;
  padding-top: 2%;
  float: initial;
  font-weight: bolder;
  font-style: italic;
  text-decoration: none;
}
.navbar .home a:hover {
  background-color: black;
  color: yellowgreen;
}
body {
  color: black;
}
