<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <%if(locals.user){%>
      <!-- <div></div> -->
      <a href="/users/signout">signout</a>
      <a href="/users/profile"><%=user.name%></a>
      <%}else{%>
      <a href="/users/signin">signin</a>
      <a href="/users/signup">signup</a>
      <%}%>
    </ul>
  </body>
</html>
