<html>
  <head>
    <body>
      <%-include('header')%>
      <h1>This is me rohit</h1>
      <h1><%=2+2%></h1>
      <% if (1 > 12) { %>
      <p>valid!!!</p>
      <%} else { %>
      <p>Not Allowed</p>
      <% } %> <% for(let i=0;i<10;i++){%>
      <h1><%=i%></h1>
      <%}%>
    </body>
  </head>
</html>
