<html>
  <head>
    <body>
      <%-include('header')%>
      <section id="feed-posts">
        <h4>Posts</h4>
        <form action="/post/create" id="new-post-form" method="POST">
          <textarea name="content" cols="30" rows="2" name="content"></textarea>
          <input type="submit" value="Post" />
        </form>
      </section>
      <%for(let post of posts ){%>
      <div>
        <p><%=post.user.name%></p>
        <ul>
          <%=post.content%>
        </ul>
      </div>

      <%}%>
    </body>
  </head>
</html>
