<html>
  <head>
    <body>
      <form action="/users/create" method="POST">
        <diV>
          <div>
            <label>email</label>
            <input type="email" name="email" required />
          </div>
          <label>Password</label>
          <input type="password" name="password" required />
          <label>Confirm password</label>
          <input type="password" name="confirmPassword" required />
          <label>Name</label>
          <input type="text" name="name" required />
          <input type="submit" value="singup" />
        </diV>
      </form>
    </body>
  </head>
</html>
<p>
  <a href="/users/auth/google">google sig-in/signour</a>
</p>
