<html>
  <head>
    <body>
      <form action="/users/createSession" method="post">
        <label>email</label>
        <input type="email" name="email" required />
        <label>Password</label>
        <input type="password" name="password" required />

        <input type="submit" value="sigin" />
      </form>
    </body>
  </head>
</html>

<p>
  <a href="/users/auth/google">google sig-in/signour</a>
</p>
